/* variables de css*/
:root {
  /* --nombre-variable: elvalor; */
  --size-title: 36px;
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;
  --genre-color04: #5e073b;
  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color13: #ba5d07;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color-01);
  color:var(--secondary-color-04);
  font-family: Arial, Helvetica, sans-serif;
}

.explora {
  background-color: var(--secondary-color-02);
  margin:20px;
  padding:24px 16px;
  border-radius:20px;
}


.titulo-explora {
  font-size: var(--size-title);
  margin-bottom: 32px;
}

.albums-explora {
  display: grid;
  gap:20px;
  /* auto-fit va a utilizar el tamaño mínimo o estático que tenga el grid en cada "casillero" */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.caja-explora {
  background-color: gray;
  padding:20px;
  border-radius: 10px;
  height: 220px;
  overflow: hidden;
  position:relative;
  /* referencia para absolute, por eso el nombre, relativa a */
}

.titulo-caja {
  font-size:24px;
}

.imagen-caja {
  width:180px;
  position:absolute;
  top:60px;
  right: -30px;
  rotate:25deg;
}
