* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:"2px solid red"
}

.contenedor {
  min-width: 800px;
  max-width: 1200px;
  min-height: 1000px;
  max-height: 1200px;
  margin:0 auto;
  padding:40px;
  display: grid;
  /* grid explícito, como una grilla de 4 x 4 */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
}

.img-cuadro {
  width:100%;
  height:100%;
  /* y para ajustar la proporción de la imagen */
  object-fit: cover;
}
