* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:"2px solid red";
}

.contenedor {
  min-width: 800px;
  max-width: 1200px;
  min-height: 1000px;
  max-height: 1200px;
  margin:0 auto;
  padding:40px;
  display: grid;
  /* grid explícito, como una grilla de 4 x 4 */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
}

.img-cuadro {
  width:100%;
  height:100%;
  /* y para ajustar la proporción de la imagen */
  object-fit: cover;
}

.cuadro {
  position: relative;
}

.cuadro span{
  position: absolute;
  top:5px;
  left:5px;
  font-weight:bold;
  font-family: Arial;
  color: white;
  /* text-shadow: despX despY tamaño color */
  text-shadow: 2px 2px 2px black;
}

.cuadro1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.cuadro2 {
  grid-row: 1 / 3;
}

.cuadro3{
  grid-row: 1 / 2;
}

.cuadro4 {
  grid-column: 2 / 4;
}

.cuadro6 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.cuadro7 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.cuadro8 {
  grid-column: 3 / 5;
}

.cuadro9 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
