* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:"2px solid red";
}

.contenedor {
  min-width: 800px;
  max-width: 1200px;
  min-height: 1000px;
  max-height: 1200px;
  margin:0 auto;
  padding:40px;
  display: grid;
  gap:20px;
  /* grid explícito, como una grilla de 4 x 4 */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
}

.img-cuadro {
  width:100%;
  height:100%;
  /* y para ajustar la proporción de la imagen */
  object-fit: cover;
}

.cuadro {
  position: relative;
  /* tenemos filtros como sepia, grayscale, blur, donde generalmente reciben un valor de 0 a 1, donde 1 es el 100% */
  filter: sepia(0.8);
  transition-duration: 300ms;
  transition-property: all;
  /* animación */
  animation-name: entrada;
  animation-duration:  500ms;
  animation-timing-function: ease-out;
}

.cuadro:hover {
  filter: sepia(0);
  /* box-shadow: despX despY tamaño color */
  box-shadow: 0 0 10px black;
  transform: translate(0, 5px) scale(1.03) rotate(0.5deg);
}

.cuadro span{
  position: absolute;
  top:5px;
  left:5px;
  font-weight:bold;
  font-family: Arial;
  color: white;
  /* text-shadow: despX despY tamaño color */
  text-shadow: 2px 2px 2px black;
}

.cuadro1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  animation-delay: 300ms;
}

.cuadro2 {
  grid-row: 1 / 3;
  animation-delay: 100ms;
}

.cuadro3{
  grid-row: 1 / 2;
  animation-delay: 220ms;
}

.cuadro4 {
  grid-column: 2 / 4;
  animation-delay: 150ms;
}

.cuadro6 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  animation-delay: 170ms;
}

.cuadro7 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  animation-delay: 110ms;
}

.cuadro8 {
  grid-column: 3 / 5;
  animation-delay: 140ms;
}

.cuadro9 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  animation-delay: 225ms;
}

/* animación */
@keyframes entrada {
  0% {
    /* al darle scale(0) no se va a ver la imagen */
    transform: scale(0);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
