/* selector de etiqueta */
h1 {
  font-family: Arial;
  font-size:42px;
}

/* selector universal */
* {
  font-style: italic;
}

/* selector de clase */
/* va con prefijo . */
.parrafo {
  background:peru;
  font-weight:bold;
}

.importante {
  color: yellow;
}

/* selector de id */
#nota {
  color: steelblue;
}

/* operadores */
/* van a tener en cuenta la estructura HTML */

/* el espacio entre ul y li referencia: Todos los li que esten dentro de cualquier ul */
ul li {
  color: purple;
  border:1px solid purple;
}

/* > aplica SOLO a los 1eros elementos hijos */
.regalos > li {
  font-weight: bold;
}
