/* selector de etiqueta */
h1 {
  font-family: Arial;
  font-size:42px;
}

/* selector universal */
* {
  font-style: italic;
}

/* selector de clase */
/* va con prefijo . */
.parrafo {
  background:peru;
  font-weight:bold;
}

.importante {
  color: yellow;
}

/* selector de id */
#nota {
  color: steelblue;
}

/* operadores */
/* van a tener en cuenta la estructura HTML */

/* el espacio entre ul y li referencia: Todos los li que esten dentro de cualquier ul */
ul li {
  color: purple;
  border:1px solid purple;
}

/* > aplica SOLO a los 1eros elementos hijos */
.regalos > li {
  font-weight: bold;
}

/* + El 1er article después de un span */
span + article {
  background: skyblue;
}

/* aplica a todos los article que sean hermanos y esten después de un span */
span ~ article {
  color: green;
  font-weight: bold;
}

/* aplica el mismo estilo a varios selectores, la coma es como un Y */
span, article {
  text-decoration: underline;
}

/* estilos tabla */
table {
  border-collapse: collapse;
}

td {
  border:1px solid black;
}

/* pseudoclases */
tr:nth-of-type(3) {
  color:purple;
}
/* odd - impar */
tr:nth-of-type(odd){
  background:skyblue;
}
/* even - par */
tr:nth-of-type(even){
  background:steelblue;
}
/* cursor x encima */
tr:hover {
  background:yellow;
}

/* Especificidad */
#pie_pagina {
  color:brown;
}

.bloque {
  color: blueviolet;
}

footer {
  font-family: Arial;
  color: blue;
  font-weight: bold;
}

footer {
  text-decoration: underline;
  color: peru;
}




