header {
  border:2px solid red;
  margin:20px;
  padding: 10px;
  width: 150px; /*ancho*/
  height: 60px; /*altura*/
  /* con border-box le decimos que en vez de dar el tama침o solo al contenido, tenga en cuenta el contenido, padding y borde, para la medida que le indiquemos */
  box-sizing: border-box;
}

/* La idea del modelo de caja se resume en todo elemento visual de HTML es una caja y esta formada por el margin, border y padding */
main {
  border:2px solid blue;
  /* la forma de aplicar margin y padding puede variar */
  /* si son 02 valores, el primero es para arriba y abajo el segundo para los costados */
  margin:20px 40px;
  /* cuando es 4 valores, los aplica de esta manera:
  arriba, derecha, abajo, izquierda
  los esta aplicando en el sentido de las agujas del reloj comenzando desde arriba
  */
  padding: 10px 20px 30px 40px;
}

/* DISPLAY */
/* Porque casi todo elemento en HTML va a tener por defecto un display: block; */

h2 {
  border:2px solid green;
  width: 150px;
  /* display: block; */
}

p{
  border:2px solid orangered;
  width: 220px;
  /* display: block; */
}

/* inline, si permite que haya elementos a sus costados, toma sus medidas a partir del contenido que envuelve, es como envolver algo y sellarlo al vancio */
span{
  background:yellow;
  border:2px solid steelblue;
  width: 100px;
  height:60px;
}

label{
  border:2px solid red;
  width: 100px;
}

/* inline-block, permite acomodarse uno al costado del otro pero con la caracteristica de que puedo cambiar el tama침o, No usar inline-block a proposito, si un elemento lo trae va, pero no usarlo a proposito*/
/* inline-block trae una peque침a separaci칩n que no se puede modificar */
input {
  border:2px solid purple;
  width: 200px;
  margin:0;
}

button {
  border:2px solid blue;
  width: 150px;
  height: 40px;
  margin:0;
}
