header {
  border:2px solid red;
  margin:20px;
  padding: 10px;
  width: 150px; /*ancho*/
  height: 60px; /*altura*/
  /* con border-box le decimos que en vez de dar el tamaño solo al contenido, tenga en cuenta el contenido, padding y borde, para la medida que le indiquemos */
  box-sizing: border-box;
}

/* La idea del modelo de caja se resume en todo elemento visual de HTML es una caja y esta formada por el margin, border y padding */
main {
  border:2px solid blue;
  /* la forma de aplicar margin y padding puede variar */
  /* si son 02 valores, el primero es para arriba y abajo el segundo para los costados */
  margin:20px 40px;
  /* cuando es 4 valores, los aplica de esta manera:
  arriba, derecha, abajo, izquierda
  los esta aplicando en el sentido de las agujas del reloj comenzando desde arriba
  */
  padding: 10px 20px 30px 40px;
}

/* DISPLAY */
/* Porque casi todo elemento en HTML va a tener por defecto un display: block; */

h2 {
  border:2px solid green;
  width: 150px;
  /* display: block; */
}

p{
  border:2px solid orangered;
  width: 220px;
  /* display: block; */
}
