* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.padre {
  height: 500px;
  width: 100%;
  border:2px solid blue;
  display:flex;
  /* justify-content, alinear horizontalmente */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
  /* align-items, alinea de forma vertical */
  align-items: center;
  gap:20px; /*dar un espaciado entre elementos */
  flex-direction: row; /*column, flex-direction cambia la orientación del contenedor*/
  /* wrap no cambia el tamaño de los elementos al reducirse y nowrap hace que reduzcan su ancho */
  flex-wrap: wrap;
}

.hijo{
  width:100px;
  height: 100px;
  border:3px solid black;
  font-size:24px;
  background: coral;
}
