* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.padre {
  height: 500px;
  width: 500px;
  border:2px solid blue;
  display:flex;
  /* justify-content, alinear horizontalmente */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
  /* align-items, alinea de forma vertical */
  align-items: center;
}

.hijo{
  width:100px;
  height: 100px;
  border:3px solid black;
  font-size:24px;
  background: coral;
}
