* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

main {
  width: 350px;
  height: 1500px;
  border:2px solid blue;
  margin:80px;
  position: relative;
}

div {
  width: 100px;
  height: 100px;
  border:2px solid red;
}

.caja1 {
  background-color: aqua;
}
.caja2 {
  background-color: orange;
  /* absolute, para el resto de elementos caja 2 no existe,  */
  position:absolute;
  top: 60px;
  left: 120px;
}
.caja3 {
  background-color: yellowgreen;
}
.caja4 {
  background-color: steelblue;
  /* fixed se coloca respecto al navegador */
  position: fixed;
  right: 100px;
  bottom:80px;
}
.caja5 {
  background-color: purple;
}
