* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

main {
  width: 350px;
  height: 1500px;
  border:2px solid blue;
  margin:30px;
}

div {
  width: 100px;
  height: 100px;
  border:2px solid red;
}

.caja1 {
  background-color: aqua;
}
.caja2 {
  background-color: orange;
}
.caja3 {
  background-color: yellowgreen;
}
.caja4 {
  background-color: steelblue;
}
.caja5 {
  background-color: purple;
}
