* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: blue;
}

@media (width <= 768px) {
  /* hoja extra de css */
  header {
    color: red;
  }
}

@media (width < 440px) {
  header {
    color: violet;
    font-size: 24px;
    text-decoration: underline;
  }
}
