* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.poligono {
  background-color: brown;
  width: 200px;
  height: 200px;
}

.caja {
  width: 300px;
  height: 200px;
  background-color: aquamarine;
}

p {
  width: 400px;
  height: 250px;
  background-color: dodgerblue;
}
