* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.poligono {
  background-color: brown;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.caja {
  width: 300px;
  height: 200px;
  background-color: aquamarine;
  /* las transformacion en CSS son funciones que dependiendo de cual utilicemos nos van a permitir rotar, escalar, mover, estirar... un elemento */
  transform: rotate(45deg);
}

p {
  width: 400px;
  height: 250px;
  background-color: dodgerblue;
  /* translate(despX, despY) */
  /* si queremos aplicar varias tenemos que separarlas por espacio */
  transform: translate(50px, 100px) scale(1.5) skew(20deg);
}
