* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esfera {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border-radius: 50%;
}
