/* reset/reinicio css */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  /* border:2px solid red; */
}

body {
  /* cuando indicamos mas fuentes a utilizar, sucede que si no encuentra saltará a la siguiente */
  font-family: 'Alata', Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  /* inherit significa heredado del padre */
  color: inherit;
}

ul {
  list-style: none;
}

/* la , es como un Y */
h1, h2, h3, h4, h5 {
  font-family: 'Fraunces', serif;
  font-weight: 300;
}

.contenedor {
  max-width: 1200px;
  /* al darle auto, le pedimos al navegador que de un valor automatico */
  margin:0 auto;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:42px 88px;
}

.links {
  display: flex;
  /* brecha */
  gap:20px;
  align-items: center;
}

.logo {
  font-size:30px;
}

.logo h3 {
  font-weight: 900;
}

/* HEADER */

.cabecera {
  padding: 96px 0;
  /* text-align me permite solamente alinear el texto */
  text-align: center;
}

.oferta {
  font-size:12px;
  padding:4px;
  background: lightgray;
  /* redondeado del borde */
  border-radius:50px;
  width:100px;
  margin:0 auto;
  margin-bottom:20px;
}

.titulo-principal {
  font-size:72px;
  margin-bottom:20px;
}

.texto-marketing {
  color: gray;
  font-size:20px;
  margin-bottom:30px;
}

.llamada-accion {
  margin-bottom: 50px;
}

/* con la btn daremos la forma, es el elemento */
.btn {
  padding:15px 20px;
  border-radius: 50px;
  margin-left:10px;
  text-align: center;
}
/* con btn-claro y btn-oscuro, sirven de modificadores */
.btn-claro {
  border: 2px solid black;
}

.btn-oscuro {
  background-color: black;
  color:white;
}

.rectangulo-header {
  /* las unidades porcentuales toman el elemento padre como referencia */
  width: 100%;
}

.btn-sm {
  padding:8px 14px;
}

/* SECTION - QUESTIONS */

.questions {
  height: 500px;
  display: flex;
  padding:64px 0px;
}

.question-naranja {
  border-top: 4px solid orangered;
}

.question-naranja .fa-message {
  color: orangered;
  margin: 20px 0 30px 0;
}

.question-titulo {
  font-size: 54px;
  font-weight: 300;
}

.question-azul {
  border-top: 4px solid steelblue;
  align-self: flex-end;
}

.question-azul .fa-message {
  color: steelblue;
  margin:20px 0 30px 0;
}

@media (width <= 768px) {
  /* questions */
  .questions {
    flex-direction: column;
    gap:30px;
    padding:30px;
    height: fit-content;
  }

  .question-titulo {
    font-size:32px;
  }
}
