/* reset/reinicio css */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

.contenedor {
  max-width: 1200px;
  /* al darle auto, le pedimos al navegador que de un valor automatico */
  margin:0 auto;
}

.cabecera {
  padding: 96px 0;
  /* text-align me permite solamente alinear el texto */
  text-align: center;
}

.oferta {
  font-size:12px;
  padding:4px;
  background: lightgray;
  /* redondeado del borde */
  border-radius:50px;
  width:100px;
  margin:0 auto;
  margin-bottom:20px;
}

.titulo-principal {
  font-size:72px;
  margin-bottom:20px;
}

.texto-marketing {
  color: gray;
  font-size:20px;
  margin-bottom:30px;
}

.llamada-accion {
  margin-bottom: 50px;
}

/* con la btn daremos la forma, es el elemento */
.btn {
  padding:15px 20px;
  border-radius: 50px;
  margin-left:10px;
  text-align: center;
}
/* con btn-claro y btn-oscuro, sirven de modificadores */
.btn-claro {
  border: 2px solid black;
}

.btn-oscuro {
  background-color: black;
  color:white;
}
